VITE_PIRATE_APP_ENV=prod
VITE_PRIVY_APP_ID=cmnbdx9xk00ty0clapn2q8pdj
VITE_BASE_NETWORK=base-sepolia
VITE_STORY_NETWORK=story-aeneid
VITE_EFP_ENVIRONMENT=testnet
VITE_STORY_AENEID_RPC_URL=https://aeneid.storyrpc.io
VITE_TEMPO_MODERATO_RPC_URL=https://rpc.moderato.tempo.xyz
